<a class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 text-dark lh-sm text-decoration-none" href="https://outlook.office365.com/owa/calendar/MBIIntroductionMeeting@modelbased.cloud/bookings/">
  <span class="d-sm-inline-flex align-items-center gap-1 py-2 px-3 me-2 mb-2 mb-lg-0 rounded-5 masthead-notice">
	 <button class="btn btn-lg btn-outline-primary text-nowrap"  type="submit">Book a Meeting  <i class="fa-solid fa-arrow-right ms-1"></i></button>
  </span>
</a>
