.mbi-footer {
    background-color: rgba($ma-dark-blue, .25);
}

.contact-table { --bs-table-bg: transparent !important; }

.mbi-footer-logo {
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


@include color-mode(dark) {
    .ma-footer-logo {
        filter: invert(1) grayscale(1);
    }
}
